/* assets/css/style.scss */
---
---

/* @import "{{ site.theme }}"; */
@import "jekyll-theme-minimal";

/* Custom styles for left column and main content */
header {
  width:180px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:1000px;
  float:right;
  padding-bottom:50px;
}
