/* assets/css/style.scss */
---
---

@import "{{ site.theme }}";

/* Custom styles for left column and main content */
header {
  width:180px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:600px;
  float:right;
  padding-bottom:50px;
}
