---
---
/* assets/css/style.scss */

@import "{{ site.theme }}";
// @import "jekyll-theme-minimal";

/* Override theme's forced collapse under 960px */
@media screen and (max-width: 960px) {
  .wrapper {
    max-width: 1200px !important;
    margin: 0 auto !important;
  }
}

/* Custom styles for left column and main content */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}


header {
  width:200px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

section {
  width:800px;
  float:right;
  padding-bottom:50px;
}

// section {
//   margin-left:200px;
//   padding-left:20px;
//   padding-bottom:50px;
// }