---
---
/* assets/css/style.scss */

@import "{{ site.theme }}";
// @import "jekyll-theme-minimal";

/* Custom styles for left column and main content */
.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto
}

header {
    width: 220px;
    float: left;
    -webkit-font-smoothing: subpixel-antialiased
}

footer {
    width: 220px
}

section {
    width: 800px;
    float: right;
    padding-bottom: 50px;
    /* margin-left: 200px */
}


@media print, screen and (max-width: 1100px) {
    div.wrapper {
        width:auto;
        margin: 0
    }

    header,section,footer{
        float: none;
        position: static;
        width: auto;
    }

    header {
        width: 200px;
    }

    /* header {
        float: none;
        width: 220px;
        position: static;
    }

    section {
        float: none;
        position: static;
        width: auto
    }

    footer {
        float: none;
        position: static;
        width: 220px;
    } */

    header {
        padding-right: 320px
    }

    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px
    }

    header a small {
        display: inline
    }

    header ul {
        position: absolute;
        right: 50px;
        top: 52px
    }
}

@media print, screen and (max-width: 720px) {
    body {
        word-wrap:break-word
    }

    header {
        padding: 0
    }

    header ul,header p.view {
        position: static
    }

    pre,code {
        word-wrap: normal
    }
}

@media print, screen and (max-width: 480px) {
    body {
        padding:15px
    }

    .downloads {
        width: 99%
    }

    .downloads li,.downloads li+li+li {
        width: 33%
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444
    }
}